.contenedorgeneral{
  width: 80%;
  margin-top: 5%;
}
.cards-container {
    display: flex;
    flex-wrap: wrap; /* Permite que las tarjetas se muevan a la siguiente línea si no caben en una fila */
    gap: 1rem; /* Añade un espacio entre las tarjetas */
  }

.cardImg{
  width: 14rem;
  transition: .5s;
}
.cardImg:hover {
  transform: scale(1.1); /* Mantén la imagen activa escalada */
}

.navbar-custom{
  background-color: #5510d6;
  position: relative;
}

.logo-magic{
  max-height: 50px;
}

.imageText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; /* Ajusta el color del texto */
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
  padding: 5px;
  border-radius: 5px;
  font-size: 16px; /* Ajusta el tamaño del texto */
  text-align: center;
}

.imageContainer {
  cursor: pointer;
  position: relative;
  width: fit-content; /* Ajusta al tamaño de la imagen */
}