/* You can add global styles to this file, and also import other style files */
body {
    background-color: #3a4961; /* Cambia #f0f0f0 por el color que desees */
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
  }
.manaicon{
  width: 20px;
}